node_modules
.DS_Store
.env
.env.*
!.env.example
dist
.serverless
.esbuild
cdk.out
.cdk.staging
*.tsbuildinfo
.next
coverage
playwright-report
test-results
web/zoa/playwright-report
web/zoa/test-results
style-assets